html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

#time-filter {
  width: 300px;
  margin-top: 5px;
}

#selected-time, #any-time {
  display: block;
  text-align: center;
}

#map {
  width: 100%;
  height: 90vh;
  position: relative;
}

#map svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

#map svg circle {
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
  fill: var(--color);
}

:root {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
}

#map svg circle, .legend div {
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

.legend {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 0 10px;
  text-align: center;
}

.legend div::before {
  content: "";
  width: 20px;
  height: 20px;
  background: var(--color);
}
