html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Positioning for Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

/* Style for Slider */
#time-filter {
  width: 300px;
  margin-top: 5px;
}

/* Ensure the time display is stacked */
#selected-time, #any-time {
  display: block;
  text-align: center;
}

/* Map Styling */
#map {
  width: 100%;
  height: 90vh;
  position: relative;
}

/* Ensure SVG fills map */
#map svg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

/* Styling for Bike Station Circles */
#map svg circle {
  fill: steelblue;
  fill-opacity: 0.6;
  stroke: white;
  stroke-width: 1;
  pointer-events: auto;
}
